@model Category

<div class="content_container">
    @if (Model.NewItem) {
        <p class="title_stile">Добавление категории</p>
    } else {
        <p class="title_stile">Редактирование категории</p>
    }

    <form method="post" asp-action="CategoryAddEdit" class="addEdit_form">
        <input asp-for="Name" type="text" placeholder="Название"/>
        <input asp-for="NewItem" type="text" hidden/>
        <input asp-for="Id" type="text" hidden/>
        <input type="file" name="photo" style="text-indent: 0;">
        <button>Сохранить</button>
    </form>

    <div class="admin_menu">
        <a href="/Admin/Categories" class="admin_menu_item">Вернуться к списку категорий</a>
    </div>
</div>
