@model Delivery

<div class="content_container">
    @if (Model.NewItem) {
        <p class="title_stile">Добавление способа доставки</p>
    } else {
        <p class="title_stile">Редактирование способа доставки</p>
    }

    <form method="post" asp-action="DeliveryMethodsAddEdit" class="addEdit_form">
        <input asp-for="Name" type="text" placeholder="Название"/>
        <input asp-for="Price" type="text" placeholder="Цена"/>
        <input asp-for="NewItem" type="text" hidden/>
        <input asp-for="Id" type="text" hidden/>
        <button>Сохранить</button>
    </form>

    <div class="admin_menu">
        <a href="/Admin/DeliveryMethods" class="admin_menu_item">Вернуться к списку категорий</a>
    </div>
</div>