@{
    ViewData["Title"] = "Home Page";
}

 
@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
 
    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}


<div class="content_container">
    <p class="title_stile">Администрирование</p>

    <div class="admin_menu">
        <a href="/Admin/Products" class="admin_menu_item">Товары</a>
        <a href="/Admin/Categories" class="admin_menu_item">Категории товаров</a>     
        <a href="/Admin/Orders" class="admin_menu_item">Заказы</a>    
        <a href="/Admin/AdminReviews" class="admin_menu_item">Отзывы</a> 
        <a href="/Admin/DeliveryMethods" class="admin_menu_item">Условия доставки</a> 
    </div>
</div>
