@model Product

<div class="content_container">
    @if (Model.NewItem) {
        <p class="title_stile">Добавление товара</p>
    } else {
        <p class="title_stile">Редактирование товара</p> 
    }
    <div class="admin_menu">
        <a href="/Admin/Products" class="admin_menu_item">Вернуться к товарам</a>
    </div>
    <form method="post" asp-action="ProductAddEdit" class="addEdit_form" >
        <div>
            
            <input asp-for="Name" type="text" placeholder="Название"  id="input_addEditform"/>
            <input asp-for="Unit" type="text" placeholder="Единица измерения"  id="input_addEditform"/>
            <input asp-for="Price" type="number" placeholder="Цена" id="input_addEditform"/>
            <select asp-for="IdForCategory" id="input_addEditform">
                @foreach (var category in Model.Categories) {
                    <option value="@category.Id">
                        @category.Name
                    </option>
                }
            </select>
            <input asp-for="NewItem" type="text" hidden/>
            <input asp-for="Id" type="text" hidden/>
            <textarea asp-for="Description" placeholder="Описание товара" id="input_addEditform"></textarea>
            
            <input type="file" name="photo" style="text-indent: 0;">
            <button id="input_addEditform">Сохранить</button>
        </div>
        
    </form>
    
</div>