@model Product

<div class="content_container">
    @if (Model.NewItem) {
        <h1>Добавление товара</h1>
    } else {
        <h1>Редактирование товара</h1>
    }

    <form method="post" asp-action="ProductAddEdit">
        <input asp-for="Name" type="text" placeholder="Название" />
        <input asp-for="Price" type="number" placeholder="Цена" />
        <input asp-for="NewItem" type="text" hidden/>
        <input asp-for="Id" type="text" hidden/>
        <button>Сохранить</button>
    </form>
</div>