@model List<Product>

<div class="content_container">
    <p class="title_stile">Товары</p>
    <div class="admin_menu">
        <a href="/Admin/ProductAddEdit" class="admin_menu_item">Добавить товар</a>
        <a href="/Admin/Index" class="admin_menu_item">Вернуться на главную</a>
    </div>

    <table>
        <tr>
            <th>
                Название товара
            </th>
            <th>
                Цена
            </th>
            <th>
                Категория товара
            </th>
            <th>
                Действия
            </th>
        </tr>
        @foreach (var product in Model) {
            <tr>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Price
                </td>
                <td>
                @if (product.Category != null) {
                    @product.Category.Name
                }
                </td>
                <td>
                    <a href="/Admin/ProductAddEdit?id=@product.Id">Редактировать</a>
                    <a href="/Admin/ProductRemove?id=@product.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>