@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
 
<div class="content_container">
    
    <p class="title_stile">Управление ролями пользователей</p>
    
    <div class="admin_menu">
        <a href="/Admin/Index" class="admin_menu_item">Вернуться к странице администрирования</a>
        <a asp-action="Create" class="admin_menu_item">Добавить роль</a>
        <a asp-action="UserList" class="admin_menu_item">Список пользователей</a>
        
        <table class="products_table">
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="button-style">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        
    </div>
</div>