<main class="about_shop">
	<div class="about_shop_container">
		<div id="map"></div>
			<div class="info">
				<div class="info_item">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi pariatur voluptate recusandae ipsum obcaecati eos ratione incidunt, reprehenderit alias excepturi aspernatur laboriosam illum porro expedita labore quo asperiores distinctio nemo numquam impedit nesciunt nihil delectus quibusdam? Reiciendis ut vel distinctio molestiae, beatae nulla enim veniam assumenda voluptatum laboriosam provident dolorem quis obcaecati et iste dolore dicta cupiditate sit eaque nemo. Ipsa nesciunt omnis quidem quia aliquam nisi voluptatibus, asperiores accusamus in officiis eligendi temporibus sint neque nobis fugiat tempore sit sapiente, laboriosam. Explicabo eum reprehenderit velit quisquam. Eos dignissimos, fugiat, odit asperiores consequatur voluptate tempora placeat labore adipisci similique sed natus error illo provident a nesciunt sint laborum possimus iste aliquam necessitatibus. Quibusdam esse ab, laborum quaerat officiis provident ducimus pariatur sed assumenda adipisci modi eos, nihil quisquam inventore itaque culpa. Ad tempora illo iste excepturi officia sit obcaecati rerum! Eum odit commodi, molestiae quia culpa. Aperiam incidunt et cupiditate beatae nisi rerum necessitatibus repudiandae, magnam libero. Inventore placeat consequatur consectetur incidunt veniam accusamus voluptatibus cumque. Fugit, doloribus. Placeat, officiis ad fugit temporibus mollitia sint quia totam aspernatur labore. Aliquam nam et facere ipsam pariatur velit molestias esse voluptatum, autem tempore sunt voluptas, sint quasi cupiditate accusantium excepturi laudantium officia!</p>
				</div>
				<div class="info_item">
					<ul>
						<li>
							Telephone: X-XXX-XXX-XX-XX
						</li>
						<li>
							Adress: Lorem ipsum dolor sit amet. <br> Lorem ipsum dolor.
						</li>
					</ul>
				</div>
			</div>
	</div>
		
</main>
  <script>
      function initMap() {
        var uluru = {lat: 59.9386300, lng: 30.3141300};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEXLgNcir1aATZvhyw8NhIYmlT4FjxdE&callback=initMap">
</script>