<div class="container_title">
		<section class="top_title">
		<p>Начинки тортов</p>
	</section>
	</div>
	

	<main class="cakes_filling">
		<div class="filling_grid">
			<div class="filling_grid_item">
				<img src="~/Images/cakesFilling/marakaibo.png" width="300" height="200">
				<h3>Lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quaerat.</p>
			</div> 
			<div class="filling_grid_item">
				<img src="~/Images/cakesFilling/marakaibo.png" width="300" height="200">
				<h3>Lorem ipsum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, quaerat.</p>
			</div>
		</div>
		
	</main>