<section class="catalog_container">
    <div class="content_container">
        <div class="order">
            <table class="cart_table">
                <thead>
                    <tr>
                        <th colspan="2">
                            Товар
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            Количество
                        </th>
                        <th>
                            Итого
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cart-items-place">
                    
                </tbody>
                
            </table>
        </div>   
        <div class="sidebar">
                <span>
                    Итого
                </span>
                <span id="total-price">
                    
                </span>
                <button id="clear_cart">Очистить корзину</button>
                <a href="/Home/Checkout" id="checkout" class="checkout-button">Оформить заказ</a>
        </div>    
    </div> 
</section>

@section Scripts
{
	<script src="~/js/cart.js"></script>
}

