<section class="catalog_container">
    <div class="content_container">
        <div class="order">
            <table class="cart_table">
                <thead>
                    <tr>
                        <th colspan="2">
                            Товар
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            Количество
                        </th>
                        <th>
                            Итого
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="~/Images/aromatnoe_lakomstvo_desert_tri_shokolada_2.jpg"> 
                        </td>
                        <td>    
                            <a href="#">Продукт</a>
                        </td>
                        <td>
                            1000
                        </td>
                        <td>
                            - 3 +
                        </td>
                        <td>
                            3000
                        </td>
                        <td class="cart_teble_remove">
                            <a href="#">&#215;</a>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>   
        <div class="sidebar">
            <span>
                Доставка
            </span>
            <form method="post" asp-action="Cart">
                <ul class="cart_delivery">
                    <li>
                        Доставка по городу (радио кнопки)
                    </li>
                    <li>
                        Доставка в пригороды (стоимость уточняется по телефону)
                    </li>
                    <li>
                        Самовывоз
                    </li>
                </ul>
                <span>
                    Итого
                </span>
                <span>
                    5000 р
                </span>
                <button >Оформить заказ</button>
            </form>
            
        </div>    
    </div> 
</section>

