@model List<Delivery>

<form action="" method="POST" class="special_order_form">
			<div>
				<input id="firstname" type="text" name="first_name" placeholder="Ваше имя*" required>
                <input id="lastname" type="text" name="last_name" placeholder="Ваша фамилия*" required>
				<input id="phone" type="tel" name="phone" placeholder="Номер телефона*" required>
                <input id="address" type="text" name="address" placeholder="Адрес доставки" required>
				<div class="select-section">
					<label>Выберите дату, к которой необходимо <br>выполнить заказ:</label>
				<input id="delivery-date" type="date" name="date" required>
				</div>
				<textarea id="comment" placeholder="Комментарий"></textarea>
				<div class="select-section">
					<select id="delivery-method">
                	@foreach (var method in Model) {
						<option value="@method.Id">
							@method.Name - @method.Price руб.
						</option>
                	}
            	</select>
				</div>
					
					<p>Ваш заказ на сумму: </p><p id="total-price"></p> <br>
					<p>Стоимость заказа с учетом доставки:  2800 руб</p>
			
				<a id="checkout" class="button-style position-center">Отправить</a>
			</div>	
</form>

@section Scripts
{
	<script src="~/js/order.js"></script>
}