<section class="forms_container">
		<hr width="70%" style="margin: 0 auto;">
		<div class="content_forms_container">
			<p style="font-size: 30px; text-transform: uppercase; padding-top: 40px;">Регистрация</p>
		</div>
		<form action="/Home/Index" method="POST" class="special_order_form">
			<div>
				<input type="text" name="first_name" placeholder="Ваше имя*" required>
				<input type="text" name="last_name" placeholder="Ваша фамилия*" required>
				<input type="email" name="email" placeholder="Ваш email*" required>
				<input type="password" name="password" placeholder="Ваш пароль*">
				<input type="password" name="repeat_password" placeholder="Повторите пароль*">
				<input type="submit" name="send" value="Зарегистрироваться" >
			</div>
			
		</form>
		<hr width="70%" style="margin: 0 auto;">
	</section>