<form action="" method="POST" class="special_order_form">
			<div>
				<input type="text" name="first_name" placeholder="Ваше имя*" required>
                <input type="text" name="last_name" placeholder="Ваша фамилия*" required>
				<input type="tel" name="phone" placeholder="Номер телефона*" required>
				<textarea placeholder="Описание"></textarea>
				<input type="submit" name="send" value="Отправить" >
			</div>	
</form>