@model List<Delivery>

<div class="delivery_container">
			<h2>Условия доставки и оплаты</h2>
</div>
<div class="content_container">  
	<p>Возможные способы доставки:</p>
	@foreach (var delivery in Model) {
		<p>@delivery.Name</p> <p>@delivery.Price руб</p>
	}
    
</div>