<section class="forms_container">
		<hr style="width: 70%; margin: 0 auto;">
		<div class="content_forms_container">
			<p style="font-size: 30px; text-transform: uppercase; padding-top: 40px;">Авторизация</p>
		</div>
		<form action="index.html" method="POST" class="special_order_form">
				<input type="email" name="email" placeholder="Введите email*" required>
				<input type="password" name="password" placeholder="Введите пароль*">
				<input type="password" name="repeat_password" placeholder="Повторите пароль*">
				<input type="submit" name="send" value="Войти" >
		</form>
		<hr style="width: 70%; margin: 0 auto;">
	</section>