@model List<Category>

@{
    ViewData["Title"] = "Home Page";
}

<section class="advantages_container">
	<div class="advantages">
        @foreach (var category in Model) {
               <div class="advantages_item">
                   <a href="/Home/Catalog?categoryId=@category.Id">
                        <img src="~/Images/aromatnoe_lakomstvo_desert_tri_shokolada_2.jpg">
						<p>
							@category.Name
						</p>
                    </a>
			    </div>
            }		
		</div>		
</section>
<!-- <section class="advantages_container">
	<div class="advantages">
        <div class="advantages_item">
            <a href="/Home/Catalog">
                <img src="~/Images/category_photo/zefir.jpg">
				<p>
					Зефир
				</p>
            </a>
		</div>
	
		
               <div class="advantages_item">
                   <a href="/Home/Catalog">
                        <img src="~/Images/cakes_new/tort.jpg">
						<p>
							Торты
						</p>
                    </a>
			    </div>
			
		
               <div class="advantages_item">
                   <a href="/Home/Catalog">
                        <img src="~/Images/category_photo/kapkeik.jpg">
						<p>
							Капкейки
						</p>
                    </a>
			    </div>
			
		
               <div class="advantages_item">
                   <a href="/Home/Catalog">
                        <img src="~/Images/category_photo/cheezkeik.jpg">
						<p>
							Чизкейки
						</p>
                    </a>
			    </div>
		</div>
</section>  -->

<div class="about_shop_container">
		<div id="map"></div>
		<div class="info">
			<!-- <div class="info_item">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, sapiente. Temporibus doloribus maiores, fuga facilis iste soluta voluptates consectetur minima odit alias sunt sit vel aliquid ducimus modi nisi voluptatum fugit magni sint nam? Modi beatae pariatur voluptatem officiis voluptatibus delectus illum fuga. Quasi adipisci voluptas molestias eius incidunt ut esse nihil rem eum animi. Impedit earum veniam, aperiam iusto aut dolorum voluptas necessitatibus harum omnis soluta eligendi veritatis mollitia rem perspiciatis sint sed fugit sunt natus? Magni fugiat ad numquam earum quaerat nostrum provident quis et cumque, molestias, esse distinctio iusto necessitatibus consequatur voluptatum vero. Eum quidem id sunt.</p>
			</div> -->
			<div class="info_item">
					<ul>
						<li>
							Телефон: X-XXX-XXX-XX-XX
						</li>
						<li>
							Адрес: г. Санкт-Петербург 
						</li>
					</ul>
				</div>
			</div>
</div>
<section class="forms_container">
	<hr width="70%" style="margin: 0 auto;">
	<div class="content_forms_container">
		<p style="font-size: 30px; text-transform: uppercase; padding-top: 40px;">калькулятор веса торта</p>
		
	</div>
	<form action="index.html" method="POST" class="special_order_form">
		<div>
			<p>Введите количество гостей:</p>
			<input type="number" value="" id="guest-count">
			<p>Введите количество гостей, которые не едят сладкое:</p>
			<input type="number" value="" id="guest-count-not">
			<div class="select-section">
				<label for="weight">Выберите вес одного куска торта на человека (гр):</label>
				<select id="weight">
					<option>100</option>
					<option>150</option>
					<option>200</option>
				</select>
				<br>
				<label for="unit">Выберите единицы измерения веса торта:</label>
				<select id="unit">
					<option>килограмм</option>
					<option>грамм</option>
				</select>
				<div id="total-weight"></div>
			</div>
			<a onclick="Calculate()" class="button-style position-center">Рассчитать</a>
			
		</div>
	</form>
	<hr width="70%" style="margin: 0 auto;">
		
</section>
	<section class="forms_container">
		<hr width="70%" style="margin: 0 auto;">
		<div class="content_forms_container">
			<p style="font-size: 30px; text-transform: uppercase; padding-top: 40px;">Не нашли то, что искали?</p>
			<p >Отправьте нам фото изделия и его краткое описание.<br> Мы свяжемся с вами для уточнения заказа!</p>
		</div>
		<form action="index.html" method="POST" class="special_order_form">
			<div>
				<input type="text" name="first_name" placeholder="Ваше имя*" required>
				<input type="tel" name="phone" placeholder="Номер телефона*" required>
				<input type="date" name="select_date" placeholder="Дата выполнения заказа*" required>
				<textarea placeholder="Описание"></textarea>
				<p>Пример десерта</p>
				<input type="file" name="photo" style="text-indent: 0;">
				<input type="submit" name="send" value="Отправить" >
			</div>
			
		</form>
		<hr width="70%" style="margin: 0 auto;">
	</section>

<script>
      function initMap() {
        var uluru = {lat: 59.9386300, lng: 30.3141300};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEXLgNcir1aATZvhyw8NhIYmlT4FjxdE&callback=initMap">
</script> 
<!-- <script>
	function Calculate() {
		count_guest = document.getElementById('guest-count').value;
		count_guest_not  = document.getElementById('guest-count-not').value;
		piece_weight = document.getElementById('weight').value;
		unit_type = document.getElementById('unit').value;
		if ((count_guest != "") && (count_guest >= 1)) 
		{
			if ((count_guest_not != "") && (count_guest_not >=0)) {
				total_weight = ( parseFloat(count_guest) - parseFloat(count_guest_not)) * parseFloat(piece_weight);
				switch(unit_type) {
					case "килограмм":
						total_weight = total_weight / 1000;
						document.getElementById('total-weight').innerHTML = "Необходимый вес торта: "+ total_weight + " " + unit_type;
						break
					case "грамм":
						document.getElementById('total-weight').innerHTML = "Необходимый вес торта: "+ total_weight + " " + unit_type;
					default: 
						break
				}
			} else {
				alert("Введены некорректные данные");
			}
		} else {
			alert("Введены некорректные данные");
		}
		
	}
</script> -->