@model Product

<div class="content_container">
    <div class="productpage">
            <img src="~/Images/aromatnoe_lakomstvo_desert_tri_shokolada_2.jpg">

            <div class="description_container">
                <p class="product_name">@(Model.Name)</p>
			    <p class="product_price">@(Model.Price)</p>
                <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Nostrum quaerat eos quos deserunt eveniet dolores architecto quis numquam placeat, alias dolor fuga officia itaque voluptatum in totam error esse assumenda.
                </p>
            </div>
    </div>
</div>