@model Product

<div class="content_container">
    <div class="productpage">
            <img src="~/Images/aromatnoe_lakomstvo_desert_tri_shokolada_2.jpg">

            <div class="description_container">
                <p class="product_name">@(Model.Name)</p>
			    <p class="product_price">@(Model.Price)</p>
                <p class="product_description">@(Model.Description)</p>
                <div class="addEdit_form">
                    <button>Добавить в корзину</button>
                </div>
                
            </div>
    </div>
</div>