@model Review

<main class="reviews">
		<section class="reviews_container">
			<div class="reviews_item">
				<!-- <img src="~/Images/users.png" width="256" height="256"> -->
				<div class="reviews_item_text">
					<h4>Имя</h4>
					<p>Дата</p>
					<p>Текст отзыва</p>
				</div>
			</div>
		</section>
		<section class="reviews_form_container">
			<div class="content_forms_container">
				<p style="font-size: 30px; text-transform: uppercase; padding-top: 40px;">Оставьте свой отзыв</p>
			</div>
			<form asp-action="Reviews" method="post" class="reviews_form">
				<div class="field">
					<input asp-for="ClientName" type="text" placeholder="Ваше имя*" required>
				</div>
				<div class="field">
					<textarea asp-for="Text" placeholder="Текст отзыва" required></textarea>
				</div>
				<button id="input_addEditform" class="button-style-reviews">Сохранить</button>
				 <input asp-for="Id" type="text" hidden/>
			</form>
		</section> 
	</main>

	